name: ayame_flutter_example
description: WebRTC Signaling Server Ayame Flutter Example

version: 0.0.1+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.2
  web_socket_channel: ^1.1.0
  flutter_webrtc: ^0.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
